<div id="<%= dom_id discussion %>">
  <p>
    <strong>Topic:</strong>
    <%= discussion.topic_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= discussion.user_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= discussion.message %>
  </p>

</div>
